{{define "prefix"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Omnom</title>
		<link rel="stylesheet" href="/static/build.css" />
		<script src="/static/vendor/htmx.js"></script>
	</head>
	<body>
		<nav class="flex bg-gray-600 text-white items-center justify-between px-5 py-2 z-50">
			<a href="/" class="text-xl">Omnom</a>
			<div class="flex">
				<a href="/gen/none" class="m-0 mx-2 text-md rounded bg-gray-900 p-1 z-50">Generate</a>
				<!--<button class="m-0 mx-2 text-md rounded bg-green-900 p-1">Log out</button>-->
			</div>
		</nav>
		<!-- Include main -->
{{end}}
{{define "baseprefix"}}
<!DOCTYPE html>
<html>
	<head>
		<title>Omnom</title>
		<link rel="stylesheet" href="/static/build.css" />
		<script src="/static/vendor/htmx.js"></script>
	</head>
	<!-- Include main -->
{{end}}

{{define "suffix"}}
	</body>
</html>
{{end}}
