{{ template "prefix" }}
<div id="app" class="flex h-full">
	<div id="leftpanel" class="w-1/4 bg-gray-100 shadow-xl p-2 text-black">
		{{ template "recipesList" .}}
	</div>
	<div id="centralpanel" class="w-2/3 ml-2 p-2 flex-col items-center ">
		{{ template "centralPanelDefault" . }}
	</div>
</div>
{{ template "suffix" }}
