<div class="flex justify-between m-2">
	<h1 class="text-center text-4xl usefont">{{ .Name }}</h1>
	<button class="text-black px-2 text-3xl hover:text-gray-600 hover:cursor-pointer" hx-confirm="Are you sure you want to delete the recipe: {{ .Name }}?"hx-delete="/recipes/{{ .Id }}" hx-swap="innerHTML" hx-target="#centralpanel">🞭</button>
</div>
<pre class="usefontlight text-xl m-2">{{ .Description }}</pre>
