<div class="flex justify-between m-2">
	<h1 class="text-center text-2xl font-bold">{{ .Name }}</h1>
	<button class="rounded bg-green-600 shadow text-white px-2" hx-delete="/recipes/{{ .Id }}" hx-swap="innerHTML" hx-target="#centralpanel">Delete</button>
</div>
<p>{{ .Description }}</h1>
